.text-field__input {
  width: 100%;
  font-size: 1.4rem;
  border: none;
  box-sizing: border-box;
  border-bottom: 0.2rem dashed #c8c8c8;
  transition: border-bottom-color 0.2s;
}

.text-field__container.stealth .text-field__input {
  border-bottom-color: transparent;
}

.text-field__input:focus {
  outline: none;
  border-bottom-color: #66afff;
  margin-bottom: 0;
}
